<div class="bg"></div>
<div class="logo">
  <div class="img-cont">
    <img [ngSrc]="'assets/img/logo_white.svg'" width="512" height="512" />
  </div>
</div>
<div class="main">
  <h1 routerLink="">
    <img src="assets/img/arrow-left-circle.svg" />
    <span>Obelisk</span>
  </h1>
  <div class="materials">
    <h3>Images</h3>
    <ul>
      <li>
        <a
          href="https://github.com/idlab-discover/obelisk-next/tree/main/.assets"
          target="_blank"
          >Obelisk logos</a
        >
      </li>
    </ul>
    <h3>Slides</h3>
    <ul>
      <li>
        <a
          href="https://github.com/idlab-discover/obelisk-next/raw/main/.slides/Obelisk%20Public%20Slides.pptx"
          target="_blank"
          >Obelisk Public Slidedeck</a
        >
      </li>
    </ul>
  </div>
</div>
