html,
body {
    margin: 0; /* You can add global styles to this file, and also import other style files */
}

a {
    color: white;
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        opacity: 1;
        text-decoration: underline;
    }
}
